.editor-tools {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.editor-tools .box {
    margin: 0;
}

.editor-tools .box .inner {
    height: 300px;
}

.tile-selection-container {
    display: flex;
    justify-content: space-between;
}

.tile-selection {
    width: 64px;
    height: 64px;

    border: 2px solid transparent;
}

.tile-selection.selected {
    border: 2px solid red;
}

.tile-selection .image {
    -webkit-background-size: cover;
    background-size: cover;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    width: 64px;
    height: 64px;
}

.tile-selection .image.tall {
    height: 128px;
    position: relative;
    top: -64px;
}
