<div class="editor-tools">
    <div class="box">
        <div class="inner">

            <div class="tiles" *ngIf="tileData.length">
                <h2>Tile</h2>

                <select
                    [(ngModel)]="selectedTileType"
                    (ngModelChange)="selectedTileVariation = $event.variations[0]"
                >
                    <option
                        *ngFor="let tileType of tileData"
                        [ngValue]="tileType"
                    >
                        {{ tileType.name }}
                    </option>
                </select>

                <div *ngIf="selectedTileType">
                    <h3>Variation</h3>

                    <select [(ngModel)]="selectedTileVariation">
                        <option
                            *ngFor="let tileVar of selectedTileType.variations"
                            [ngValue]="tileVar"
                        >
                            {{ tileVar.name }}
                        </option>
                    </select>
                </div>

            </div>

        </div>
    </div>
</div>
