.editor-tools {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.editor-tools .box {
    margin: 0;
}

.editor-tools .box .inner {
    height: 300px;
}

.bla {
    width: 20px;
    height: 20px;
    border: 1px solid red;
}
